{% extends 'frontoffice/base.html.twig' %}
{% block title %} ART {% endblock %}

{% block body %}
<div class="container no-pad">
  <br>

    <div class="row">
    <div class="col-8"><h2 class="">Artworks:</h2></div>
    </div>

    </div>
  <br>
  {% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
  {% endfor %}
</div>
  <div class="text-center">
    <br>
    <button class="btn btn-primary view-more-button" role="button">Show more</button>
    <br>
    <br>
  </div>
  <div class="page-load-status">
  <p class="infinite-scroll-request">End of content, no more posts to load.</p>
</div>

{% endblock %}
